<p>
  <strong>Strike Price : </strong>
  <%= @financial_option.strike_price %>
</p>
 
<p>
  <strong>Stock Price : </strong>
  <%= @financial_option.stock_price %>
</p>

<p>
  <strong>Time (Days) : </strong>
  <%= @financial_option.time_period %>
</p>
 
<p>
  <strong>Volatility : </strong>
  <%= @financial_option.volatility %>
</p>

<p>
  <strong>Interest Rate : </strong>
  <%= @financial_option.interest_rate %>
</p>
 
<p>
  <strong>Parity Type : </strong>
  <%= @financial_option.parity_type %>
</p>